<% layout('layouts/boilerplate') %> 
    <div class="container">
        <div>
            <img style="margin:auto; display:block; width: 30%" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/de/HCMUT_official_logo.png/1200px-HCMUT_official_logo.png" alt="">
        </div>
    </div>