.single-group-page{
    display: flex;
    flex-direction: row;


    .single-group-page-container{
        flex: 1;

        .content-container-body{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;

            .chart-container{
                height: 80vh;
                display: flex;
                flex-direction: column;
            }

            .center{
                width: 93%;
                flex: 1;
                // background-color: aqua;
                display: flex;
                flex-direction: row;
                margin-bottom: 30px;

                .left{
                    flex: 1;
                    margin-top: 0;
                    margin-bottom: 0;
                    margin-right: 1.5%;
                    // padding-top: 23%;
                }

                .right{
                    flex: 1;
                    margin-top: 0;
                    margin-bottom: 0;
                    margin-left: 1.5%;
                    // padding-top: 23%;
                }


            }
            .list-container{
                flex:1;
            }
        }
    }

}