.breadcrumb-container{
    color: #95CCDC;
    position: relative;
    left: 50px;
    font-weight:bold;
    font-size: 20px;
    // background-color: antiquewhite;

    .crumb{
        all: unset;
        cursor: pointer;

        &:hover{
            color: #37a4de;
        }
    }
}