.navbar{
    height: 50px;
    display: flex;
    flex-direction: row;

    .left{
        flex:4;
        display: flex;
        flex-direction: row;
        // background-color: antiquewhite;
        align-items: center;
    }

    .right{
        width: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        // background-color: cadetblue;
        .avatar{
            width: 70%;
            height: 70%;
            color: #37A4DE;
        }
    }
}