<% layout('layouts/boilerplate') %>
<div class="container" style="padding:20px">
    <form class="form-item" action="/projects/" method="POST" >
        <div style="margin:auto">
            <input type="text" name="name" id="name" placeholder="Project name" style="border-radius:1rem; border:none; width:20rem">
        </div>
        <button class="btn btn-primary" style="width:20rem; margin:auto">Submit</button>
    </form>
</div>