.project-page {
    display: flex;
    min-height: 100vh;
    flex-direction: row;


    .project-page-container {
        flex: 1;

        .content-container-body{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
        }   
    }
}